/**
 * color config
 */

$c-basic = #32495f;
$c-basic-light = desaturate(lighten($c-basic, 35%), 10%);

/**
 * size config
 */

$s-home-divide-ratio = 36.5%;
$s-home-middle-gap = 40px;
$s-edge-gap = 30px;
$s-header-height = 62px;
$s-sidebar-width = 200px;
$s-preview-width = 334px;

/**
 * responsive breakpoints
 * @note keep inline with https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/app/style/config.styl
 */

$mq-narrow = 959px
$mq-mobile = 719px
$mq-mobile-narrow = 419px
